---
import MustAdmin from "@components/MustAdmin.astro";
import DefaultLayout from "@src/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Halbjahresverwaltung">
    <MustAdmin />

    <h1>Halbjahresabschluss abschließen</h1>

    <table id="users">
        <thead>
            <tr>
                <th>Lehrer:in</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <button id="submit" class="btn btn-wide btn-warning" disabled
        >Abschließen</button
    >
</DefaultLayout>

<style scoped>
    h1,
    h2,
    p {
        text-align: center;
    }

    h1 {
        margin-bottom: 0;
    }

    .btn {
        display: block;
        margin: 1rem auto;
        width: 50%;
    }

    table {
        margin: 1rem auto;
        width: 80%;
    }
</style>

<script>
    import {
        Collections,
        type TasksResponse,
        type TeacherDataResponse,
        type UsersResponse,
    } from "@src/pocketbase-types";
    import type { ListResult } from "pocketbase";
    import Swal from "sweetalert2";
    import { impersonate, pb, putResults } from "@src/pocketbase";
    import { toast } from "@src/toast";

    const urlParams = new URLSearchParams(window.location.search);
    const year = urlParams.get("year");
    const semester = urlParams.get("semester");

    const table = document.getElementById("users") as HTMLTableElement;
    const tbody = table.querySelector("tbody") as HTMLTableSectionElement;
    const submit = document.getElementById("submit") as HTMLButtonElement;

    if (!year || !semester) {
        window.location.href = "/admin/data";
    }

    const year_data = await pb
        .collection("years")
        .getFirstListItem(`start_year="${year}"&&semester="${semester}"`);
    if (!year_data || year_data.state !== "open") {
        window.location.href = "/admin/data";
    }

    type Expand = { user: UsersResponse };
    let tasks = await pb
        .collection("tasks")
        .getFullList<TasksResponse<Expand>>({
            expand: "user",
            filter: `year=${year} && semester=${semester}`,
        });

    let teacher_data: { [key: string]: ListResult<TeacherDataResponse> } = {};

    const exam_points = await pb
        .collection(Collections.ExamPoints)
        .getFullList();

    let users_done = true;
    let requests = tasks.length;
    for (let i = 0; i < tasks.length; i++) {
        const row = tasks[i];

        const tr = document.createElement("tr");
        tr.innerHTML = `
            <td>${row.expand!.user.name}</td>
        `;

        const statusRow = document.createElement("td");
        statusRow.textContent = "Wird geladen...";
        tr.appendChild(statusRow);

        const impersonateRow = document.createElement("td");
        const impLink = document.createElement("a");
        impLink.href = "#";
        impLink.textContent = "Als Benutzer anmelden";
        impLink.onclick = async () => {
            const ok = await impersonate(row.expand!.user.id);
            if (ok) {
                window.location.href = "/";
            }
        };
        impersonateRow.appendChild(impLink);
        tr.appendChild(impersonateRow);

        (async () => {
            const data = await pb.collection("teacher_data").getList(1, 50, {
                filter: `year="${year}" && semester="${semester}" && teacher="${row.user}"`,
                expand: "teacher",
            });
            users_done = users_done && data.items.length > 0;
            statusRow.textContent = `${data.items.length > 0 ? "" : "Nicht "} Abgegeben`;

            teacher_data[row.user] = data;
            requests--;
            if (requests === 0) {
                submit.disabled = !users_done;
            }
        })();

        tbody.appendChild(tr);
    }

    async function onSubmit() {
        if (!users_done) {
            toast(
                "error",
                "Nicht alle Lehrer:innen haben den Halbjahresabschluss abgegeben.",
            );
            return;
        }

        const res = await Swal.fire({
            title: "Sind Sie sicher, dass Sie den Halbjahresabschluss abschließen möchten?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Ja",
            cancelButtonText: "Nein",
        });

        if (!res.isConfirmed) {
            return;
        }

        const { value: amount_str } = await Swal.fire({
            title: "Wie viele Anrechnungsstunden sollen verteilt werden?",
            input: "text",
            inputLabel: "Anrechnungsstunden",
            inputPlaceholder: "0",
        });

        const amount = parseInt(amount_str || "0");
        if (isNaN(amount) || amount <= 0) {
            toast(
                "error",
                "Ungültige Eingabe, Anrechnungsstunden müssen positiv sein.",
            );
            return;
        }

        const { value: lead_points_str } = await Swal.fire({
            title: "Wie viele Punkte sollen pro Klassenleitung verteilt werden?",
            input: "text",
            inputLabel: "Punkte pro Klassenleitung",
            inputPlaceholder: "0",
        });

        const lead_points = parseInt(lead_points_str || "0");
        if (isNaN(lead_points) || lead_points < 0) {
            toast(
                "error",
                "Ungültige Eingabe, Punkte müssen mindestens 0 sein.",
            );
            return;
        }

        const teacher_points = {} as { [key: string]: number };

        for (let i = 0; i < tasks.length; i++) {
            const row = tasks[i];
            if (teacher_data[row.user].items.length === 0) {
                toast(
                    "error",
                    "Nicht alle Lehrer:innen haben den Halbjahresabschluss abgegeben.",
                );
                return;
            }

            let points = getExamPointsForTeacher(row.user);
            try {
                const record = await pb
                    .collection(Collections.ClassLead)
                    .getFirstListItem(`teacher="${row.user}"`);
                points += (lead_points * record.percentage) / 100;
            } catch (e) {}

            try {
                const record = await pb
                    .collection(Collections.TimeData)
                    .getFirstListItem(`user="${row.user}"`);
                points -= record.avg_time * 7.84;
            } catch (e) {}

            teacher_points[row.expand!.user.name] = Math.max(0, points);
        }

        const record = await putResults(
            year_data.id,
            distribute(amount, teacher_points),
            lead_points,
        );

        if (record !== null) {
            await pb.collection("years").update(year_data.id, {
                state: "closed",
            });
            toast(
                "success",
                "Halbjahresabschluss erfolgreich abgeschlossen.",
                "Sie werden weitergeleitet.",
            );
            window.location.href = `/admin/data/closed?year=${year}&semester=${semester}`;
        } else {
            toast(
                "error",
                "Fehler beim Abschließen des Halbjahresabschlusses.",
                "Bitte versuchen Sie es erneut nach einem Neuladen der Seite.",
            );
            return;
        }
    }

    function getExamPointsForTeacher(teacher: string) {
        let points = 0;
        for (let i = 0; i < teacher_data[teacher].items.length; i++) {
            const item = teacher_data[teacher].items[i];
            points +=
                getExamPointsForSubject(item.subject, item.grade) *
                item.students;
        }
        return points;
    }

    function getExamPointsForSubject(subject: string, grade: string) {
        for (let i = 0; i < exam_points.length; i++) {
            const item = exam_points[i];
            if (
                item.subject.toString() === subject.toString() &&
                item.grade.toString() === grade.toString()
            ) {
                return item.points;
            }
        }
        return 0;
    }

    function distribute(
        points: number,
        teacherScores: { [s: string]: number },
    ) {
        const res = {} as { [s: string]: number };
        let d = 0;
        for (const [teacher, score] of Object.entries(teacherScores)) {
            d += score;
            res[teacher] = score;
        }
        for (let teacher in res) {
            res[teacher] *= points / d;
        }
        return res;
    }

    submit.addEventListener("click", onSubmit);
</script>
