---
import MustAdmin from "../../../components/MustAdmin.astro";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Halbjahresverwaltung">
    <MustAdmin />

    <h1>Neuer Halbjahresabschluss</h1>

    <form class="frm frm-wide" id="frm">
        <div class="frm-group">
            <label for="year">Jahr in dem das Schuljahr angefangen hat:</label>
            <span>z.B. 2025 für das Schuljahr 2025/26</span>
            <input
                class="inpt"
                type="number"
                id="year"
                name="year"
                min="2000"
                required
            />
            <span id="yearMsg" class="error-message text-alert"></span>
        </div>

        <div class="frm-group">
            <label for="semester">Halbjahr:</label>
            <select name="semester" id="semester" required>
                <option value="">-- Bitte Auswählen --</option>
                <option value="1">1. Halbjahr</option>
                <option value="2">2. Halbjahr</option>
            </select>
            <span id="semesterMsg" class="error-message text-alert"></span>
        </div>

        <div class="frm-group">
            <label for="file">Datei (csv / xls / xlsx):</label>
            <input
                type="file"
                id="fileInput"
                accept="text/csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                required
            />
            <span id="fileMsg" class="error-message text-alert"></span>
        </div>

        <button type="submit" class="btn btn-wide btn-alert"
            >Halbjahresabschluss starten</button
        >
    </form>
</DefaultLayout>

<style scoped>
    h1,
    h2,
    p {
        text-align: center;
    }

    label {
        font-weight: bold;
    }

    .frm {
        max-width: 50%;
        margin: 1rem auto;
    }
</style>

<script>
    import { pb } from "../../../pocketbase";

    const frm = document.getElementById("frm") as HTMLFormElement;
    const submitBtn = frm.querySelector("button") as HTMLButtonElement;

    const yearInput = document.getElementById("year") as HTMLInputElement;
    const yearMsg = document.getElementById("yearMsg") as HTMLSpanElement;

    const semesterInput = document.getElementById(
        "semester",
    ) as HTMLSelectElement;
    const semesterMsg = document.getElementById(
        "semesterMsg",
    ) as HTMLSpanElement;

    const fileInput = document.getElementById("fileInput") as HTMLInputElement;
    const fileMsg = document.getElementById("fileMsg") as HTMLSpanElement;

    function validate() {
        let valid = true;
        yearMsg.innerText = "";
        semesterMsg.innerText = "";
        fileMsg.innerText = "";

        const year = parseInt(yearInput.value);
        if (isNaN(year) || year < 2000) {
            yearMsg.innerText = "Bitte geben Sie ein gültiges Jahr ein.";
            valid = false;
        }

        const semester = parseInt(semesterInput.value);
        if (isNaN(semester) || semester < 1 || semester > 2) {
            semesterMsg.innerText = "Bitte wählen Sie ein Halbjahr aus.";
            valid = false;
        }

        if (fileInput?.files?.length === 0) {
            fileMsg.innerText = "Bitte wählen Sie eine Datei aus.";
            valid = false;
        }

        submitBtn.classList.toggle("btn-alert", !valid);
        submitBtn.classList.toggle("btn-success", valid);
        submitBtn.disabled = !valid;

        return valid;
    }

    function setupYear() {
        const currYear = new Date().getFullYear();
        yearInput.value = currYear.toString();
    }

    async function submit(e: Event) {
        e.preventDefault();
        if (!validate()) return;

        const year = parseInt(yearInput.value);
        const semester = parseInt(semesterInput.value);
        const file = (fileInput.files as FileList)[0];

        const data = {
            start_year: year,
            semester: semester,
            file: file,
            state: "uploaded",
        };

        try {
            await pb.collection("years").create(data);
            window.location.href = `/admin/data/new2/?year=${year}&semester=${semester}`;
        } catch (e: any) {
            console.error(e);
            const yearStr = `${year}/${(year + 1).toString().substring(2)}`;
            yearMsg.textContent = `Erstellen nicht möglich. Möglicherweise besteht bereits ein Eintrag für ${yearStr} ${semester}. Halbjahr.`;
            fileMsg.textContent = `Bitte überprüfen sie ihre Eingabe.`;
        }
    }

    document.addEventListener("DOMContentLoaded", setupYear);
    document.addEventListener("DOMContentLoaded", validate);
    yearInput.addEventListener("input", validate);
    semesterInput.addEventListener("input", validate);
    fileInput.addEventListener("input", validate);
    frm.addEventListener("submit", submit);
</script>
